<%- include('./partials/navbar.ejs', {title: 'Welcome to EventBooker' }) %>

    <div class="container">
        <h1>Find and Book Events Easily</h1>
        <p>EventBooker is your one-stop platform for discovering and booking exciting events happening around you.</p>
        <a href="/events" class="btn btn-primary">Explore Events</a>
        <br><br>
        <h2>Why Choose EventBooker?</h2>
        <ul>
            <li>Wide variety of events: Find everything from concerts and workshops to conferences and meetups.</li>
            <li>Seamless booking experience: Book your tickets in just a few clicks.</li>
            <li>Never miss an event: Stay updated on upcoming events with our personalized recommendations.</li>
        </ul>
    </div>


    <%- include('./partials/footer.ejs') %>